<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497399008334-hebaugqbaeler2mh3k8aup53lrrvbgqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497399008334-hebaugqbaeler2mh3k8aup53lrrvbgqp</string>
	<key>API_KEY</key>
	<string>AIzaSyBTH9XChe1KDcvb7p8FrEqDd8vIwjhEFxA</string>
	<key>GCM_SENDER_ID</key>
	<string>497399008334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>BlakHawk-Productions.LaterGram-Assessment-7-</string>
	<key>PROJECT_ID</key>
	<string>latergram-chill9</string>
	<key>STORAGE_BUCKET</key>
	<string>latergram-chill9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497399008334:ios:8404ae23aea5fe530f071f</string>
</dict>
</plist>